:root {
  --green: #2ecc71;
  --black: #333;
  --white: #fff;
  --bg-color: #eee;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 0.1rem solid var(--black);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
.admin_page_body {
  background-color: lightcyan;
}
.btn {
  margin-top: 10px;
  width: auto;
  cursor: pointer;
  border-radius: 3px;
  font-size: 1.7rem;
  padding: 1rem 3rem;
  background: var(--green);
  text-align: center;
}

.menu-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.action-buttons {
  display: flex;
  gap: 3px;
  justify-content: center;
  margin-top: 65px;
}

.btn:hover {
  background: var(--black);
  color: var(--white);
}

.message {
  display: block;
  background: var(--bg-color);
  padding: 1.5rem 1rem;
  font-size: 2rem;
  color: var(--black);
  margin-bottom: 2rem;
  text-align: center;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 2rem;
}

.admin_form_container {
  background: var(--white);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.admin_form_container form {
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: var(--bg-color);
}

.admin_form_container form h3 {
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 1rem;
  text-align: center;
  font-size: 20px;
}

.admin_form_container form .box {
  width: 70%;
  padding: 10px;
  font-size: 1.6rem;
  color: var(--black);
  border: var(--border);
  border-radius: 3px;
  margin: 10px;
  text-transform: none;
}

.product-display {
  margin-top: 30px;
}

.product-display .product-display-table {
  width: 100%;
  text-align: center;
}

.product-display .product-display-table thead {
  background: var(--bg-color);
}

.product-display .product-display-table th {
  padding: 1rem;
  font-size: 16px;
}

.product-display .product-display-table td {
  padding: 1rem;
  font-size: 14px;
  border-bottom: var(--border);
}

.product-display .product-display-table .btn {
  margin-top: 0;
}

@media (max-width: 768px) {
  .product-display {
    overflow-y: scroll;
  }

  .product-display .product-display-table {
    width: 80rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

/* menu page */
.menu-body {
  padding: 20px;
  background-color: #ae6e4e;
}

.menu-login {
  width: 100%;
  padding: 15px 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-btn {
  padding: 10px 20px;
  background: var(--green);
  color: var(--white);
  font-size: 16px;
  border-radius: 8px;
}

.title {
  text-align: center;
  font-size: 40px;
  color: var(--black);
  margin-bottom: 20px;
}

.menu {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  padding: 20px;
}

.card {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  background: var(--white);
  border-radius: 30px;
  box-shadow: var(--box-shadow);
}

.card .card-img {
  width: 280px;
  height: 200px;
  padding: 9px 10px;
  text-align: center;
}

.card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.card .card-name {
  font-size: 18px;
  color: var(--black);
  text-align: center;
  margin: 10px 0;
}

.card .card-price {
  font-size: 16px;
  color: var(--green);
  text-align: center;
  margin-bottom: 10px;
}

.card .card-desc {
  font-size: 14px;
  color: var(--black);
  text-align: center;
  margin-bottom: 15px;
}

.card .order-btn {
  margin-left: 80px;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  background: var(--green);
  color: var(--white);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
}

/* login page */

.login-body {
  background: lightseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-page {
  background: var(--white);
  padding: 100px;
  border-radius: 10px;
}

.login-page .login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  border: #333;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--black);
  font-size: 30px;
}

.login-form input {
  padding: 10px;
  font-size: 16px;
  border: var(--border);
  border-radius: 5px;
}

.login-page-btn {
  background-color: #2ecc71;
  width: 100px;
  margin-left: 100px;
}

.login-page-btn:hover {
  background: var(--black);
  color: var(--white);
  cursor: pointer;
}
